.header {
    margin: auto;
    text-align: center;
}

.navbar-default {
    margin: auto;
    text-align: center;
    padding-left: 400px;

}

.centered {
    text: align-centered;
    padding-left: 480px;

}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

body {
    margin: 30px 0px;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.bg{background-color: #dfdfdf;}
.rwrapper{padding: 5px;}
.rlisting{background-color: #fff;overflow: hidden;}
.rlisting img{width: 100%}
.nopad{padding:0;}
.rfooter{background: #f1f3f5;border-top: 1px #ebebeb solid;width: 100%;padding:10px 15px}
.rlisting h5,.rlisting p{padding:0 15px;}

/* PRODUCT OVERVIEW */


.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.detailImage{

    width: 20%;
    height: 20%;
}

/* PRODUCT DETAILS*/

.productbox {
    width: 100%;
    text-align: center;
    margin: auto;
    background-color:#ffffff;
}

.producttitle {
    font-weight:bold;
    padding:5px 0 5px 0;
}

.productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
}

.pricetext {
    font-weight:bold;
    font-size:1.4em;
}

/* CREATE USER */

[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}


/* SHOPPING BASKET */

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }


    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}