<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2>Create Account</h2>

        <form  name="userform" class= "form-group row" novalidate>

            <div class="form-group" ng-class="{ 'has-error': userform.firstname.$invalid && userform.firstname.$touched }">
                <label class="control-label" for="firstname">Firstname</label>
                <input class="form-control" type="text" id="firstname" name="firstname" ng-model="firstName" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userform.lastname.$invalid && userform.lastname.$touched }">
                <label class="control-label" for="lastname">Surname</label>
                <input class="form-control" type="text" id="lastname" name="lastname" ng-model="lastName" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userform.email.$invalid && userform.email.$touched }">
                <label class="control-label" for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" ng-model="email" required>

            </div>
            <div class="form-group" ng-class="{ 'has-error': userform.phone.$invalid && userform.phone.$touched }">
                <label class="control-label" for="phone">Telephone</label>
                <input class="form-control" type="text" id="phone" name="phone" ng-model="phone" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userform.password.$invalid && userform.password.$touched }">
                <label class="control-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" ng-model="password" required>

            </div>


            <div class="form-group" ng-class="{ 'has-error': userform.address.$invalid && userform.address.$touched }">
                <label class="control-label" for="address">Address</label>
                <input class="form-control" type="text" id="address" name="address" ng-model="address" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userform.postalcode.$invalid && userform.postalcode.$touched }">
                <label class="control-label" for="postalcode">Postcode</label>
                <input class="form-control" type="text" id="postalcode" name="postalcode" ng-model="postalCode" required>

            </div>

            <div class="form-group" ng-class="{ 'has-error': userform.city.$invalid && userform.city.$touched }">
                <label class="control-label" for="city">City</label>
                <input class="form-control" type="text" id="city" name="city" ng-model="city" required>

            </div>

            <div class="form-group">
                <button ng-disabled="userform.$invalid" class="btn btn-primary" ng-click="createAccount()">Register</button>
                <button type="submit" class="btn btn-primary btn-block" a class="btn btn-info" href="/">Cancel </button>
                
            </div>
        </form>
    </div>
</div>