<div class="container">
    <form class="form-horizontal">
        <div class="centered">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <br><br>
                        <label for="form_name">Email</label>
                        <input type="email" id="form_name" name="email" class="form-control" placeholder="Email"
                               required="required" data-error="email is required." ng-model="email">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password"
                               ng-model="password">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-info btn-send" ng-click="login()" value="Login">
                <p>{{text}}</p>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" class="btn btn-info btn-send" ng-click="register()" value="Register">
                </div>
            </div>
        </div>
    </form>
</div>
